version: '3'

services:
  buildtools:
    image: ghcr.io/electron/devcontainer:eac3529546ea8f3aa356d31e345715eef342233b

    volumes:
      - ..:/workspaces/gclient/src/electron:cached

      - /var/run/docker.sock:/var/run/docker.sock

    command: /bin/sh -c "while sleep 1000; do :; done"

    user: builduser

    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
